/*heart is Shamelessly stolen from http://jsfiddle.net/nwznn/*/

/*can't seem to modify pseudo-styles with jquery easily - doing the easy way by making a bunch of styles specific to colors.*/
.heart {
 position:absolute;
 width: 100px;
 height: 90px;
 top: 200px;

 width: 1em;
 height: 1em;
 border-radius: 50%;
 /*-webkit-animation: rippleRed 0.7s linear infinite;*/
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.heartSpeaking, .heartListening, .heartStandby, .heartThinking{}

  @-webkit-keyframes rippleGreen {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.3), 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3);
              box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.3), 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3);
    }
    100% {
      -webkit-box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3), 0 0 0 8em rgba(101, 255, 120, 0);
              box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3), 0 0 0 8em rgba(101, 255, 120, 0);
    }
  }

  @-webkit-keyframes rippleRed {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.3), 0 0 0 1em rgba(255, 0, 0, 0.3), 0 0 0 3em rgba(255, 0, 0, 0.3), 0 0 0 5em rgba(255, 0, 0, 0.3);
              box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.3), 0 0 0 1em rgba(255, 0, 0, 0.3), 0 0 0 3em rgba(255, 0, 0, 0.3), 0 0 0 5em rgba(255, 0, 0, 0.3);
    }
    100% {
      -webkit-box-shadow: 0 0 0 1em rgba(255, 0, 0, 0.3), 0 0 0 3em rgba(255, 0, 0, 0.3), 0 0 0 5em rgba(255, 0, 0, 0.3), 0 0 0 8em rgba(255, 0, 0, 0);
              box-shadow: 0 0 0 1em rgba(255, 0, 0, 0.3), 0 0 0 3em rgba(255, 0, 0, 0.3), 0 0 0 5em rgba(255, 0, 0, 0.3), 0 0 0 8em rgba(255, 0, 0, 0);
    }
  }

  @-webkit-keyframes rippleYellow {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 51, 0.3), 0 0 0 1em rgba(255, 255, 51, 0.3), 0 0 0 3em rgba(255, 255, 51, 0.3), 0 0 0 5em rgba(255, 255, 51, 0.3);
              box-shadow: 0 0 0 0 rgba(255, 255, 51, 0.3), 0 0 0 1em rgba(255, 255, 51, 0.3), 0 0 0 3em rgba(255, 255, 51, 0.3), 0 0 0 5em rgba(255, 255, 51, 0.3);
    }
    100% {
      -webkit-box-shadow: 0 0 0 1em rgba(255, 255, 51, 0.3), 0 0 0 3em rgba(255, 255, 51, 0.3), 0 0 0 5em rgba(255, 255, 51, 0.3), 0 0 0 8em rgba(255, 255, 51, 0);
              box-shadow: 0 0 0 1em rgba(255, 255, 51, 0.3), 0 0 0 3em rgba(255, 255, 51, 0.3), 0 0 0 5em rgba(255, 255, 51, 0.3), 0 0 0 8em rgba(255, 255, 51, 0);
    }
  }



.heartSpeaking:before, .heartSpeaking:after{
  background: red;
}
.heartStandby:before, .heartStandby:after{
  background: rgba(128,128,128,1);
}
.heartListening:before, .heartListening:after{
  background: rgba(101, 255, 120, 0.8);
}
.heartThinking:before, .heartThinking:after{
  background: yellow;
}

.heart:before, .heart:after {
   position: absolute;
   content: "";
   left: 7px;
   width: 52px;
   top:-28px;
   height: 80px;
   border-radius: 50px 50px 0 0;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  top:-27px;
   left: -44px;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin :100% 100%;
}

/*This is the inside of the heart.*/
#heartInner {
   position:relative;

   width: 100px;
   height: 100px;
}

#heartInner p{
  position:sticky;
  text-align: center;
  top: -50px;
  z-index: 1;
}

     #heartInner:before{
       position: absolute;
       content: "";
       left: 50px;
       width: 45px;
       top: -35px;
       height: 76px;
       background: white;
       border-radius: 48px 48px 0 0;
       -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
       transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }
#heartInner:after {
position: absolute;
       content: "";
       margin-left: 5px;
       top: -34px;
       width: 45px;
       height: 75px;
       background: white;
       border-radius: 50px 50px 0 0;
       -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
       transform: rotate(-45deg);

}

     #heartInner:after {
       left: 0;

       -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      -o-transform-origin: 100% 100%;
      transform-origin :100% 100%;
    }
